body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root{
  --sm-margin:25px;
  --md-margin:50px;
  --lg-margin:75px;
}

.sm-margin{
  margin:var(--sm-margin);
}

.md-margin{
  margin: var(--md-margin);
}

.lg-margin{
  margin: var(--lg-margin);
}
