.flex{
    display: flex;
}
.flex.row{
    flex-direction: row;
}
.flex.column{
    flex-direction: column;
}
.flex.center{
    align-items:center;
}
.flex.justify-content{
    justify-content: center;
}

.flex.top-center{
    position: absolute;
   top: 45%;
   left: 45%;
    transform:translate(-55% , -55%);
}








